body {
    background: url("http://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.white{
    background-color: white;
}
table thead {
    background-color: cadetblue;
}